#title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

#setting, #start, #apocalypto{
    display: block;
    text-align: center;
    width: 40%;
    font-size: 150%;
    margin-bottom: 0.3em;
}


html{
    padding: 2em;
}

#copyrights{
    padding-top: 1em;
    text-align: center;
    color: #0775ae;
}